.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4a4e69;
    padding: 10px 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.header:hover {
    background-color: #22223b;
}

.logo {
    font-size: 1.8em;
}

.logo a {
    color: white;
    text-decoration: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    position: relative;
    transition: color 0.3s ease;
}

.nav a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f2e9e4;
    transition: width 0.3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav a:hover::after {
    width: 100%;
}

.nav a:hover {
    color: #c9ada7;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info span {
    margin-right: 10px;
}

.user-info button {
    background-color: #c9ada7;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.user-info button:hover {
    background-color: #22223b;
}
